@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat";
}

/*----------------------------HEADER----------------------------------------*/

nav {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
}

header {
  margin: 0 auto;
}

.left-nav {
  margin-left: 240px;
}

.left__features {
  display: flex;
  align-items: center;
}

.left__features li {
  list-style-type: none;
  margin-left: 30px;
}

.left__features li a {
  text-decoration: none;
  color: black;
}

.ion-navicon-round {
  font-size: 150%;
}

.right-nav {
  display: flex;
  margin-right: 240px;
}

.right-nav label a {
  text-decoration: none;
  color: black;
  font-size: 150%;
}

input[type="search"] {
  padding: 5px;
  border-radius: 3px;
  border: 1px solid;
  width: 80%;
  margin-right: 10px;
}

/*-----------------------------------------BODY---------------------------------------------*/

.container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 1140px;
  margin: 0 auto;
  align-items: center;
  background-color: #ccc;
}

.figure1 {
  display: flex;

  padding: 10px 0;
  background-color: #ccc;
  flex-direction: column;
  align-items: flex-start;
  height: 1300px;
  justify-content: space-between;
  margin-left: 30px;
}

.small-boxes {
  flex-basis: 25%;
  align-self: flex-start;
}

.big-boxes {
  flex-basis: 48%;
  align-self: flex-start;
}

.medium-boxes {
  margin-top: 15px;
  flex-basis: 25%;
  align-self: flex-start;
  justify-content: space-between;
}

.flex-it2 {
  position: relative;
}

.ion-ios-eye-outline {
  position: absolute;
  top: 10px;
  right: 10px;
  color: rgb(201, 201, 201);
  font-size: 90%;
}

.box-image1 {
  background: url("/resources/images/small/denny-muller-mGP8gyGb8zY-unsplash.jpg");
  width: 40%;
  height: 95px;
  background-size: cover;
  background-position: center;
  flex-basis: 40%;
  display: block;
}
.box-image2 {
  background: url("/resources/images/small/dlanor-s-2xEQDxB0ss4-unsplash.jpg");
  width: 40%;
  height: 95px;
  background-size: cover;
  background-position: center;
  flex-basis: 40%;
}
.box-image3 {
  background: url("/resources/images/small/florian-olivo-4hbJ-eymZ1o-unsplash.jpg");
  width: 40%;
  height: 95px;
  background-size: cover;
  background-position: fixed;
  flex-basis: 40%;
}
.box-image4 {
  background: url("/resources/images/small/isabella-and-zsa-fischer-1rms_hDBXVE-unsplash.jpg");
  width: 40%;
  height: 95px;
  background-size: cover;
  background-position: center;
  flex-basis: 40%;
}
.box-image5 {
  background: url("/resources/images/small/mae-mu-m9pzwmxm2rk-unsplash.jpg");
  width: 40%;
  height: 95px;
  background-size: cover;
  background-position: center;
  flex-basis: 40%;
}
.box-image6 {
  background: url("/resources/images/small/michael-dziedzic-aQYgUYwnCsM-unsplash.jpg");
  width: 40%;
  height: 95px;
  background-size: cover;
  background-position: fixed;
  flex-basis: 40%;
}
.box-image7 {
  background: url("/resources/images/small/ant-rozetsky-HXOllTSwrpM-unsplash.jpg");
  width: 40%;
  height: 95px;
  background-size: cover;
  background-position: center;
  flex-basis: 40%;
}
.box-image8 {
  background: url("/resources/images/small/ian-dooley-DJ7bWa-Gwks-unsplash.jpg");
  width: 40%;
  height: 95px;
  background-size: cover;
  background-position: center;
  flex-basis: 40%;
}
.box-image9 {
  background: url("/resources/images/small/karsten-winegeart-stB6muBBXMc-unsplash.jpg");
  width: 40%;
  height: 95px;
  background-size: cover;
  background-position: center;
  flex-basis: 40%;
}
.box-image10 {
  background: url("/resources/images/small/simon-abrams-k_T9Zj3SE8k-unsplash.jpg");
  width: 40%;
  height: 95px;
  background-size: cover;
  background-position: center;
  flex-basis: 40%;
}

.box__content {
  margin-top: -55px;
  flex-basis: 60%;
}

.box__content p {
  padding-bottom: 5px;
  width: 80%;
  font-size: 55%;
  text-transform: uppercase;
  margin-left: 4px;
  color: rgb(129, 129, 129);
}

.box__content h4 {
  width: 95%;
  font-size: 70%;
  margin-left: 4px;
  letter-spacing: 0.2px;
  word-spacing: 0px;
}

.flex-it {
  display: flex;
  background-color: white;
  flex-basis: 9.5%;
  width: 105%;
  align-items: center;
  padding: 10px 0;
  padding-left: 10px;
  margin-left: -10px;
}

.flex-it:nth-child(4) p {
  margin-top: 30px;
}
.flex-it:nth-child(7) p {
  margin-top: 15px;
}
.flex-it:nth-child(9) p {
  margin-top: -20px;
}
.flex-it:nth-child(10) p {
  margin-top: 12px;
}

.flex-itA {
  display: flex;
  background-color: white;
  flex-basis: 9.6%;
  width: 105%;
  align-items: center;
  padding: 10px 0;
  padding-left: 10px;
  margin-left: -10px;
  margin-bottom: 15px;
}

.text {
  align-self: center;
  font-weight: 900;
}

.text2 {
  display: flex;
  justify-content: center;
  margin-top: -5px;
  font-weight: 900;
}

.box__big-image {
}

.box-image0 {
  background: linear-gradient(rgba(0, 0, 0, 0.13), rgba(0, 0, 0, 0.7)),
    url("/resources/images/assorted-colored-shoes-3360545.jpg");

  width: 100%;
  height: 400px;
  background-size: cover;
  background-position: center;
}

.box__content2 {
  margin-top: -150px;
}

.box__content2 p {
  text-transform: uppercase;
  margin-left: 20px;
  background-color: rgb(10, 194, 240);
  width: 33%;
  padding: 0 10px;
  font-weight: 800;
  font-size: 70%;
}

.box__content2 h2 {
  color: white;
  margin: 20px;
}

.box__content2_1 {
  margin-top: -12px;
}

.flex-it2 {
  display: flex;
  flex-direction: column;
  height: 400px;
  margin-bottom: 10px;
}

.flex-it2 {
  display: flex;
  flex-direction: column;
  height: 400px;
  margin-bottom: 10px;
}

.figure2 {
  display: flex;
  flex-direction: column;
  background-color: white;
}

.flex-it2_1 {
  background-color: white;
  background-size: cover;
  background-position: center;
  display: flex;
  margin: 5px;
  margin-left: 20px;
  flex-direction: row;
  height: 130px;
  border-bottom: 1px solid #ccc;
}

.flex-it2_1L {
  background-color: white;
  background-size: cover;
  background-position: center;
  display: flex;
  margin-left: 28px;
  flex-direction: row;
  height: 50px;
  border-bottom: 1px solid #ccc;
}

.box-image2_11 {
  background: url("/resources/images/big/tim-mossholder-tq8Cuap8_wY-unsplash.jpg");

  height: 120px;
  background-size: cover;
  background-position: center;
  flex-basis: 35%;
}
.box-image2_12 {
  background: url("/resources/images/big/christina-schwab-dsrGxoVUUqM-unsplash.jpg");

  height: 120px;
  background-size: cover;
  background-position: center;
  flex-basis: 35%;
}
.box-image2_13 {
  background: url("/resources/images/big/madmax-chef--QKpbIstfl8-unsplash.jpg");
  flex-basis: 35%;
  height: 120px;
  background-size: cover;
  background-position: center;
}
.box-image2_14 {
  background: url("/resources/images/big/matt-popovich-0FZrPECK5cg-unsplash.jpg");
  flex-basis: 35%;
  height: 120px;
  background-size: cover;
  background-position: center;
}
.box-image2_15 {
  background: url("/resources/images/big/ryan-quintal-71VDY9v_WFk-unsplash.jpg");
  flex-basis: 35%;
  height: 120px;
  background-size: cover;
  background-position: center;
}
.box-image2_16 {
  background: url("/resources/images/big/sandra-seitamaa-OFJGlG3sKik-unsplash.jpg");
  flex-basis: 35%;
  height: 120px;
  background-size: cover;
  background-position: center;
}
.box-image2_17 {
  background: url("/resources/images/big/syed-ahmad-kgjQ1AGDwE0-unsplash.jpg");
  flex-basis: 35%;
  height: 120px;
  background-size: cover;
  background-position: center;
}
.box-image2_18 {
  background: url("/resources/images/big/tim-mossholder-tq8Cuap8_wY-unsplash.jpg");
  flex-basis: 35%;
  height: 120px;
  background-size: cover;
  background-position: center;
}
.box-image2_19 {
  background: url("/resources/images/big/florian-olivo-4hbJ-eymZ1o-unsplash.jpg");
  flex-basis: 35%;
  height: 120px;
  background-size: cover;
  background-position: center;
}
.box-image2_2 {
  background: url("/resources/images/big/dylan-nolte-qxYDhV0rBPk-unsplash.jpg");
  flex-basis: 35%;
  height: 120px;
  background-size: cover;
  background-position: center;
}

.box__content2_1 {
  padding: 10px 20px;
  flex-basis: 65%;
  font-size: 70%;
}

.box__content2_1 h2 {
  margin-bottom: 5px;
  width: 100%;
  font-size: 140%;
}

.box__content2_1 .desc {
  text-transform: uppercase;
  margin-bottom: 5px;
  color: rgb(129, 129, 129);
}

.box__content2_1 .lower_desc {
  color: rgb(129, 129, 129);
}

.image3_1 {
  background: url("/resources/images/medium/jakob-owens-50LI_TgaB3k-unsplash.jpg");
  width: 96%;
  height: 120px;
  background-size: cover;
  background-position: center;
}
.image3_2 {
  background: url("/resources/images/medium/samuel-pereira-uf2nnANWa8Q-unsplash.jpg");
  width: 96%;
  height: 120px;
  background-size: cover;
  background-position: fixed;
  object-fit: cover;
}

.image3_3 {
  background: url("/resources/images/medium/colin-lloyd-x5-62_ZWDlk-unsplash.jpg");
  width: 96%;
  height: 120px;
  background-size: cover;
  background-position: center;
}

.image3_4 {
  background: url("/resources/images/medium/sincerely-media-dGxOgeXAXm8-unsplash.jpg");
  width: 96%;
  height: 120px;
  background-size: cover;
  background-position: center;
}
.image3_5 {
  background: url("/resources/images/medium/obi-onyeador-Ksq2F-iXOY8-unsplash.jpg");
  width: 96%;
  height: 120px;
  background-size: cover;
  background-position: center;
}
.image3_6 {
  background: url("/resources/images/medium/rahul-pandit-Rp2cLR6b6Ds-unsplash.jpg");
  width: 96%;
  height: 120px;
  background-size: cover;
  background-position: center;
}
.image3_7 {
  background: url("/resources/images/medium/aditya-joshi-7FW5-3vVRSw-unsplash.jpg");
  width: 96%;
  height: 120px;
  background-size: cover;
  background-position: center;
}
.image3_8 {
  background: url("/resources/images/medium/catrina-farrell-OBKWpCynBhI-unsplash.jpg");
  width: 96%;
  height: 120px;
  background-size: cover;
  background-position: center;
}
.image3_9 {
  background: url("/resources/images/medium/celine-druguet--r5CoVha7lw-unsplash.jpg");
  width: 96%;
  height: 120px;
  background-size: cover;
  background-position: center;
}
.image3_10 {
  background: url("/resources/images/medium/obi-onyeador-L7YYO4C6Jbs-unsplash.jpg");
  width: 96%;
  height: 120px;
  background-size: cover;
  background-position: center;
}

.box__content3 {
  background-color: white;
  width: 96%;
  height: 85px;
}

.box__content3 p {
  padding-top: 5px;
  padding-bottom: 5px;
  text-transform: uppercase;
  font-size: 65%;
  margin-left: 10px;
  color: rgb(129, 129, 129);
}

.box__content3 h4 {
  text-transform: capitalize;
  font-size: 80%;
  margin-left: 10px;
}

.flex-it3 {
  margin-top: 10px;
}

.medium-boxes:last-of-type {
  margin-bottom: 50px;
}

footer {
  width: 1140px;
  margin: 0 auto;
  background-color: rgb(53, 52, 52);
  color: rgb(114, 114, 114);
  height: 300px;
}

.footer__container {
  display: flex;
  align-items: center;
  height: 300px;
}

.footer__logo p {
  width: 90%;
  margin-left: 50px;
  font-size: 73%;
  margin-bottom: 10px;
}

.footer__logo img {
  width: 10%;
  margin-left: 50px;
  margin-bottom: 10px;
}

.footer__logo {
  flex-basis: 40%;
  margin-left: -30px;
}

.footer__latest {
  flex-basis: 35%;
  margin-left: -30px;
}

.footer__popular {
  flex-basis: 25%;
  margin-left: 45px;
  font-size: 60%;
  align-self: center;
  margin-top: -75px;
}

.footer__popular span {
  border: 0 solid rgb(63, 63, 63);
  padding: 2px;
  background-color: rgb(63, 63, 63);
}

.footer__popular p {
  margin-top: 10px;
}

.footer__logo a {
  list-style: none;
  color: rgb(141, 141, 141);
  margin-left: 50px;
}

.footer__latest p {
  font-size: 73%;
  border-bottom: 1px solid rgb(63, 63, 63);
  margin-top: 10px;
  margin-left: 50px;
}

.flex-it-L .btn {
  text-decoration: none;
  border: 1.5px solid rgb(252, 4, 128);
  padding: 3px 83.1px;
  margin-left: -10px;
  border-radius: 10px;
  background-color: white;
  color: rgb(252, 4, 128);
}

.flex-it2_1L .btn {
  text-decoration: none;
  border: 1.5px solid rgb(252, 4, 128);
  padding: 12px 210px;
  margin-left: -10px;
  border-radius: 10px;
  background-color: white;
  color: rgb(252, 4, 128);
  margin-bottom: 5px;
  display: flex;
  align-items: center;
}
